@if (this.isLoading) {
    <div class="h-100 w-100 pb-5 d-flex justify-content-center align-items-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
} @else {
    <router-outlet></router-outlet>
}
