<div class="w-100 h-100 container d-flex flex-column">
    <div class="mt-3 mb-2 d-flex flex-row">
        <h3 class="flex-grow-1">Download Rules</h3>
        <button class="btn btn-primary"
                [disabled]="this.isLoading"
                (click)="this.openEditor(undefined)">
            Add rule
        </button>
    </div>

    <div class="table-responsive my-1">
        <table class="table table-bordered align-middle">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Directory</th>
                    <th>Filter</th>
                    <th class="text-center px-2"
                        style="width: 1%;">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (rule of this.ruleStore.rules(); track rule) {
                    <tr>
                        <td>
                            {{rule.name}}
                        </td>
                        <td class="font-monospace text-wrap text-break">
                            {{rule.directory}}
                        </td>
                        <td>
                            {{rule | ruleItems}}
                        </td>
                        <td class="text-center px-2">
                            <div class="btn-group">
                                <button type="button"
                                        class="btn btn-warning"
                                        [disabled]="this.isLoading"
                                        (click)="this.openEditor(rule)">
                                    <i class="bi bi-pencil-fill"></i>
                                </button>
                                <button type="button"
                                        class="btn btn-danger"
                                        [disabled]="this.isLoading"
                                        (click)="this.delete(rule)">
                                    <i class="bi bi-trash-fill"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<app-rule-editor id="rule-editor-modal">
</app-rule-editor>
