<div id="rule-editor-component"
     class="modal fade"
     tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                @if (rule === undefined) {
                    Add Rule
                } @else {
                    Edit Rule
                }
                </h5>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="txtName"
                           class="form-label">
                        Name
                    </label>
                    <input type="text"
                           id="txtName"
                           [class]="'form-control ' + (this.nameError ? 'is-invalid ' : '')"
                           [value]="name"
                           (change)="this.setName($event)"
                           [disabled]="this.isLoading">
                    <div class="invalid-feedback">
                        {{this.nameError}}
                    </div>
                </div>
                <div class="mb-3">
                    <label for="txtDirectory"
                           class="form-label">
                        Directory
                    </label>
                    <input type="text"
                           id="txtDirectory"
                           [class]="'form-control font-monospace ' + (this.directoryError ? 'is-invalid ' : '')"
                           [value]="directory"
                           (change)="this.setDirectory($event)"
                           [disabled]="this.isLoading">
                    <div class="invalid-feedback">
                        {{this.directoryError}}
                    </div>
                </div>
                <div class="mb-3">
                    <div class="d-flex flex-row align-items-center mb-2">
                        <label class="flex-grow-1">Queries</label>
                        <button type="button"
                                class="btn btn-secondary btn-sm"
                                [disabled]="this.isLoading"
                                (click)="this.addQuery()">
                            Add Query
                        </button>
                    </div>

                    @for (query of this.queries; track query.id;) {
                        <div class="mb-2 p-2 border rounded">
                            <div class="mb-2 d-flex flex-row justify-content-end">
                                <button type="button"
                                        class="btn btn-sm btn-danger px-3"
                                        [disabled]="this.isLoading"
                                        (click)="this.deleteQuery(query.id)">
                                    <i class="bi bi-trash-fill"></i>
                                </button>
                            </div>

                            @for (item of query.items; track item.id;) {
                                <div class="input-group has-validation mb-2">
                                    <input type="text"
                                           [class]="'form-control ' + (item.valueError ? 'is-invalid' : '') + query.id"
                                           [disabled]="this.isLoading"
                                           [value]="item.value"
                                           (change)="setQueryItem(query.id, item.id, $event)"
                                           #txtQueryItemInput>
                                    <button type="button"
                                            class="btn btn-sm btn-warning"
                                            [disabled]="this.isLoading"
                                            (click)="this.deleteQueryItem(query.id, item.id)">
                                        <i class="bi bi-trash-fill"></i>
                                    </button>
                                    <div class="invalid-feedback">
                                        {{item.valueError}}
                                    </div>
                                </div>
                            }

                            <button type="button"
                                    class="btn btn-outline-secondary d-block w-100"
                                    [disabled]="this.isLoading"
                                    (click)="this.addQueryItem(query.id)">
                                <i class="bi bi-plus"></i>
                            </button>
                        </div>
                    }
                </div>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-secondary"
                        [disabled]="this.isLoading"
                        (click)="close()">
                    Cancel
                </button>
                <button type="button"
                        class="btn btn-primary"
                        [disabled]="this.isLoading"
                        (click)="save()">
                    @if (this.isLoading) {
                        <span class="spinner-border spinner-border-sm me-2"></span>
                    }
                    <span>Save</span>
                </button>
            </div>
        </div>
    </div>
</div>
